html,body{
    margin: 0;
    background-color: rgb(70, 67, 67);
    color: white;
}

main>h4{
    display: flex;
    justify-content: center;
}

main>h3{
    margin: 1%;
}

main>.audio{
    display: flex;
    justify-content: center;
}