:root{
    --beige-clair:#EFE0CF;
    --brun:#9F7F59;
    --brun-fonce:#67321A;
    --brun-noir:#34302D;
    --big-title:'Secular One', sans-serif;
    --txt-courant:'Montserrat', sans-serif;
}

/*--------- Global -----------*/

.container-fluid{
    padding: 0;
}


/*--------- Typographie ------*/

p,a{
  font-family: var(--txt-courant);  
  color:var(--brun-noir);
  letter-spacing: -0.08;
}

.big-title{
    font-family: var(--big-title);
}

.horse p{
    padding-left:2em;
}

.horse h2{
    color:var(--brun);
}

/*--------- Structure --------*/

span.splitter{
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--brun);
    margin:1em 0;
}


/*--------- Header -----------*/

.bg-brun{
    background-color: var(--brun-fonce);
}

.bg-beige{
    background-color: var(--beige-clair);
}

/*--------- Content ----------*/


/*--------- Media ------------*/

.square-rounded{
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 200%;
}

.left-position{
    object-position: left;
}

/*--------- Footer -----------*/





#logo{
    width:50px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}