*{
    margin : 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-size: 250px;
}

main{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.rotate{
    animation: rotation 1s infinite linear;
    transform-origin: center;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}